// mono
$white: #fff;
$light-gray: #f3f3f3;
$gray-d: #dddddd;
$gray: #c4c4c4;
$dark-gray: #333;

// colors
$official-green: #00a221;
$official-blue: #006671;
$official-text: #376f5c;
$official-opacity: 0.8;

$ambas-skyblue: #d8ff6c;
$ambas-blue: #89c9c9;
$ambas-text: #759687;

//fonts
$noto-font: 'Noto Sans JP', 'Noto Sans Japanese', 'Noto Sans CJK JP',
  'Source Sans Pro', sans-serif;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 800;

//cubic-bezier

// responsive variable
$img-width: 1280px;
$img-height: 720px;
$left-bar-width: 72px;
$background-width: 1000px;
$background-height: 515px;
