// mono
$white: #fff;
$light-gray: #efefef;
$gray-d: #dddddd;
$gray: #c4c4c4;
$dark-gray: #333;

// colors
$oncon-yellow: #d8ff6c;
$oncon-blue: #89c9c9;
$oncon-text: #497f6c;

$ambas-skyblue: #6cffe9;
$ambas-blue: #7aa2ff;
$ambas-text: #2e6089;

//fonts
$noto-font: 'Noto Sans JP', 'Noto Sans Japanese', 'Noto Sans CJK JP',
  'Source Sans Pro', sans-serif;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;
$font-black: 800;

//cubic-bezier

// responsive variable
$img-width: 1280px;
$img-height: 720px;
$left-bar-width: 72px;
$background-width: 1000px;
$background-height: 515px;
